{% extends 'base.html' %}{% load bootstrap3 %}
{% load static %}
{% block content%}
{% include "navbar.html" %}
<section id="hero">
  <div class="carousel-item active" style="background-image: url(photos/slide/slide-1.jpg)">
    <div class="carousel-container">
      <div class="container">
        <h2 class="animate__animated animate__fadeInDown">Benchmark with other <span>Developers</span></h2>
        <p class="animate__animated animate__fadeInUp">Review your projects and have other developers review your work.</p>
        <a href="{% url 'create_project' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Post Project</a>
      </div>
    </div>
  </div>
</section>
<div class="flex-box">
  <h2>Top Rated </h2>
</div>
<div class="d-flex flex-row mb-3" id="top-rated">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static 'photos/slide/slide-1.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1></h1> 
        <p>Architect & Engineer</p> 
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</div>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Recent Projects</h2>
    </div>
    <div class="row portfolio-container">
      {% for project in projects %}

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{project.project_image.url}}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{project.name}}</h4>
            <p>{{project.profile.username}}</p>
            <div class="portfolio-links">
              <a href="{% url 'post_item' project.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
              <a href="{{project.site_url}}"target="_blank"class="venobox" title="Portfolio Details"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

</main><!-- End #main -->
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/index.js'%}"></script>
{% endblock %}

{% endblock %}