{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class="active"><a href="{% url 'index'%}">Home</a></li>

          <li class="drop-down"><a href="">Projects</a>
          </li>

          <li><a href="{% url 'create_project' %}">Add Project</a></li>
        </ul> 
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
</body>
</html>